__pycache__/data.cpython-39.pyc
__pycache__/Deal_of_the_day.cpython-39.pyc
__pycache__/function_calls.cpython-39.pyc
__pycache__/functions.cpython-39.pyc
__pycache__/Scrape.cpython-39.pyc
__pycache__/Search.cpython-39.pyc
